{% extends 'base.html' %}

{% block content %}
<h1 class="font-bold mb-4 text-3xl text-center">Web Applications</h1>
{% if availServices %}
        {% for service in availServices %}
            <div class="container mx-auto px-4">
                <form id="app-list" class="bg-gray-200 flex items-center place-content-between px-14 py-4 rounded-2xl">
                    <img src="{{url_for('static', filename="assets/images/")}}{{service[4]}}" class="aspect-auto rounded-tl" style="width: 80px">
                    <p id="apptitle" class="font-bold px-12 text-3xl"> {{ service[1] }}</p>
                    <p id="appdesc" class="px-12 text-xl">{{ service[2] }}</p>
                    <button type="submit" class="bg-blue-500 px-4 py-3 rounded-full text-center text-white">Add</button>
                </form>
                <ul id="task-list" class="mx-auto w-1/2"></ul>
            </div>
        {% endfor %}
{% else %}
    <h1> No Services!</h1>
{% endif %}
{% endblock %}
