{% extends 'base.html' %}


{% block content %}
<div class="bg-white px-6 py-12 w-full sm:px-12 lg:py-16">
    <h2 class="font-medium mb-2 text-3xl text-gray-900">Sign In</h2>
    <p class="mb-6">Use this awesome form to sign in users.</p>
    <form method="POST" action="/authenticate">
        <div class="flex mb-4 text-sm">
            <span class="bg-gray-50 border border-gray-300 border-r-0 inline-flex items-center px-3 py-2 rounded-l-md text-gray-600"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"></path>
                    </g>
                </svg></span>
            <input type="email" name="username" class="block border border-gray-300 flex-1 px-3 py-2 rounded-r-md w-full" placeholder="Email" aria-label="Email" required>
        </div>
        <div class="flex mb-4 text-sm">
            <span class="bg-gray-50 border border-gray-300 border-r-0 inline-flex items-center px-3 py-2 rounded-l-md text-gray-600"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M10.758 11.828l7.849-7.849 1.414 1.414-1.414 1.415 2.474 2.474-1.414 1.415-2.475-2.475-1.414 1.414 2.121 2.121-1.414 1.415-2.121-2.122-2.192 2.192a5.002 5.002 0 0 1-7.708 6.294 5 5 0 0 1 6.294-7.708zm-.637 6.293A3 3 0 1 0 5.88 13.88a3 3 0 0 0 4.242 4.242z"></path>
                    </g>
                </svg></span>
            <input type="password" name="password" class="block border border-gray-300 flex-1 px-3 py-2 rounded-r-md w-full" placeholder="Password" aria-label="Password" required>
        </div>
        <div class="flex items-center mb-4">
            <input id="remember_me" name="remember_me" type="checkbox" class="border-gray-300 focus:ring-indigo-500 h-4 rounded text-indigo-600 w-4">
            <label for="remember_me" class="block ml-2 text-sm">Remember me</label>
        </div>
        <button type="submit" class="bg-blue-600 font-medium hover:bg-blue-700 inline-block px-6 py-2 rounded-md text-center text-white w-full">Sign In</button>
    </form>
</div>
{% endblock %}
